@{
    ViewData["Title"] = "Petición Inválida";
}
<!DOCTYPE html>
<html lang="en">

<body>
    <h1 class="text-danger">Petición Inválida</h1>
    <h2 class="text-danger">La URL solicitada no es válida o no existe.</h2>

    <p>
        Por favor, verifica que la dirección sea correcta o regresa a la página principal.
    </p>

    <p>
        <a href="/">Volver al inicio</a>
    </p>
</body>
