@{
    ViewData["Title"] = "Inicio";
}

<!-- Banner Principal -->
<div class="container-fluid px-0">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/summer-collection.jpg" class="d-block w-100 banner-img" alt="Summer Collection">
                <div class="carousel-caption">
                    <h1 class="fw-bold">SUMMER COLLECTION</h1>
                    <a href="#" class="btn btn-light">Compra ahora!!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Promoción Destacada -->
<div class="container-fluid bg-black text-white text-center py-5">
    <h2 class="fw-bold">Body's</h2>
    <p>A partir de la segunda body, el envío es gratis</p>
    <a href="#" class="btn btn-light">Compra ahora!!</a>
</div>

<!-- Sección de Productos Destacados -->
<div class="container mt-5">
    <h3 class="fw-bold">Destacados:</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/img/traje1.jpg" class="card-img-top" alt="Traje de baño">
                <div class="card-body text-center">
                    <p class="card-text">Traje de baño</p>
                    <p class="fw-bold">$20,00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/img/traje2.jpg" class="card-img-top" alt="Traje de baño">
                <div class="card-body text-center">
                    <p class="card-text">Traje de baño</p>
                    <p class="fw-bold">$20,00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/img/traje3.jpg" class="card-img-top" alt="Traje de baño">
                <div class="card-body text-center">
                    <p class="card-text">Traje de baño</p>
                    <p class="fw-bold">$20,00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/img/traje4.jpg" class="card-img-top" alt="Traje de baño">
                <div class="card-body text-center">
                    <p class="card-text">Traje de baño</p>
                    <p class="fw-bold">$20,00</p>
                </div>
            </div>
        </div>
    </div>
</div>
