@{
    ViewData["Title"] = "Compra Exitosa";
}

<div class="container text-center">
    <h1 class="mt-5 text-success">¡Gracias! Tu compra ha sido procesada correctamente.</h1>
    <div class="mt-4">
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Home")'">
            <i class="fa fa-home"></i> Volver al Menú Principal
        </button>
    </div>
</div>
